# ---- Database ----
DB_HOST=localhost
DB_PORT=5432
DB_NAME=my_database
DB_USER=my_user
DB_PASSWORD=replace_me

# ---- SECRET TOKEN ----
SECRET_JWT_TOKEN=xxx
ADMIN_SECRET_TOKEN=xxx

# ---- Environment ----
ENV=development  # development | staging | production
LOG_LEVEL=INFO
# SCRIPT_NAME=/proxy/5000